@model eCart.Models.User
@{
    ViewBag.Title = "Login";
}


<div class="row login-panel" style="margin-top:100px;">

    <div class="col-md-6 login-form" style="bottom:50px;left:40px;">
        <img src="~/img/placeholders/food-delivery.png" class="login-image-side" />
    </div>

    <div class="col-md-6 login-form" style="top:0px;">
        <h2> <span style="color:royalblue;">Rider</span> Login</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "email" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "password", @type = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <button class="btn btn-primary" type="submit"> Login </button>

            <div class="col-lg-12" style="top:30px;margin-bottom:20px;">
                <p> Create an account <a href="~/Rider/Accounts/Register"> Here </a></p>
            </div>
            <br /><br />
        }
    </div>


</div>
