@model eCart.Models.User
@{
    ViewBag.Title = "Login";
}


<div class="row" style="margin-top:50px;">

    <div class="col-md-6 login-form" style="bottom:50px;left:80px;">
    </div>

    <div class="col-md-6 login-form" style="top:0px;">

        <h2> <span style="color:royalblue;">Admin</span> Login</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @*<input type="text" class="form-control" placeholder="email" />*@
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "email" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @*<input type="password" class="form-control" placeholder="password" />*@
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "email", @type = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <button class="btn btn-primary" type="submit"> Login </button>

        }
    </div>


</div>
