@model IEnumerable<eCart.Models.StoreItem>

@{
    ViewBag.Title = "ItemList";
}
<div class="jumbotron">
    <div class="row">
        <img class="col-lg-2" src="~/img/placeholders/placeholder-images-product-2.png" />
        <div class="col-lg-8">
            <h2> @ViewBag.StoreName </h2>
            <p class="text-muted">  Address: @ViewBag.StoreAddress  </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h1> Store Items </h1>
    </div>

    @foreach (var item in Model)
    {

        <div class="col-sm-2 item-list bordered">
             @if (item.ItemMaster.ItemImages.FirstOrDefault() != null)
              {
                  var image = item.ItemMaster.ItemImages.FirstOrDefault(); 
                  <img src="@image.ImageUrl" class="item-image" width="60" />
              }
              else
              {
                  <img src="~/img/placeholders/placeholder-product.png" class="img-thumbnail" width="60" />
              }
            <div class="item-desc">
                <h4> @item.ItemMaster.Name </h4>
                <b class="text-success"> Php @item.UnitPrice.ToString("0.00") </b>

            </div>
            <div class="add-to-Cart">
                <button class="btn btn-default" onclick="AddtoCart(this)" style="width:100%;"> Add to Cart </button>
                <div class="btn-group hidden">
                    <button class="btn btn-default" type="button" onclick="SubtractQty(this)"> - </button>
                    <div class="btn btn-default disabled item-qty">
                        1
                    </div>
                    <button class="btn btn-default" type="button" onclick="AddQty(this)"> + </button>
                    <button class="btn btn-default" onclick="AddtoCart_Submit(this,'@item.Id', '@item.ItemMaster.Name', '@item.UnitPrice')"> Submit </button>
                </div>
            </div>
        </div>
    }
</div>

@{ Html.RenderAction("_CartSummary", "CartDetails", new { area = "Shopper" }); }

<script src="~/Scripts/Cart/cart.js"></script>
<script>
     //On Add to Cart Button Click
    function AddtoCart(e) {
        if ('@Session["USER"]' != '') {
            $(e).addClass('hidden');                //hide
            $(e).siblings().removeClass('hidden');  //show
        } else {
            //login user
            window.location = "/Shopper/Accounts/Login";
        }
    }
</script>

