@model IEnumerable<eCart.Models.CartItem>
@{
    ViewBag.Title = "Cart";
}

<h2>Cart Page</h2>

<div>
    @Html.ActionLink("Go to Main Page", "Index","Home", new { area = ""}, null)
</div>

<div class="panel">
    <h4> Shopper Details </h4>
    <p> Name:  </p>
    <p> Address:  </p>
    <p> Contact No.:  </p>
</div>

<div class="panel">
    <h4> Cart Items </h4>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <td> <b>Item Description</b> </td>
                    <td> Qty </td>
                    <td> Price per Item</td>
                    <td> Total </td>
                </tr>
            </thead>
            <tbody>
                <!-- Cart Items -->
                @foreach (var item in Model)
                {
                    var qty = item.ItemQty;
                    var unitprice = item.StoreItem.UnitPrice ;
                    var total = qty * unitprice;
                    <tr>
                        <td>
                            <img src="~/img/placeholders/placeholder-images-product-2.png" width="50" class="img-thumbnail bordered" />
                            <b> @item.StoreItem.ItemMaster.Name </b>
                            <span class="text-muted"> - @item.Remarks1 </span>
                        </td>
                        <td> @item.ItemQty </td>
                        <td> @item.StoreItem.UnitPrice.ToString("0.00") </td>
                        <td> @total </td>
                    </tr>
                }


                <!-- Total -->
                <tr>
                </tr>
            </tbody>
        </table>
        <div class="col-lg-offset-10">

            <button class="btn btn-primary"> Submit Order</button>
        </div>
    </div>
</div>

<div class="panel" style="padding:10px 20px;">
    <h4> Pickup Details </h4>
    <p> <b> Pickup Location and Time </b> </p>
</div>


