@model IEnumerable<eCart.Models.CartDetail>
@{
    ViewBag.Title = "Cart Checkout";
    Layout = "~/Areas/Shopper/Views/Shared/_Layout.cshtml";
}

<h2>Cart Page</h2>

<div>
    @Html.ActionLink("Go to Main Page", "Index", "Home", new { area = "" }, null)
</div>

<div class="panel bordered">
    <div class="panel-body">
        <h3> Shopper Details </h3>
        <p> Name: <b>Guest User</b> </p>
        <p> Address: <b> Davao City </b> </p>
        <p> Contact No.:  </p>
    </div>
</div>

@{ decimal totalAmount = 0; }
@foreach (var cart in Model)
{
    decimal subtotalAmount = 0;
    <div class="panel bordered">
        <div class="panel-body">
            <div class="cart-summary-store">
                <div>
                    <h3> @cart.StoreDetail.Name </h3>
                </div>
                <div class="cart-summary-pickup">
                    <span> Pickup Point: </span>
                    <a href="" data-toggle="modal" data-target="#pickupModal" onclick="getPickupPoints('@cart.StoreDetail.Id')" id="pickupAddress-@cart.StoreDetail.Id" value="@cart.StorePickupPoint.Id">
                        @cart.StorePickupPoint.Address
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td> <b>Item Description</b> </td>
                        <td> Qty </td>
                        <td> Price per Item</td>
                        <td> Total </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in cart.CartItems)
                    {
                        var qty = item.ItemQty;
                        var unitprice = item.StoreItem.UnitPrice;
                        var subtotal = qty * unitprice;
                        subtotalAmount += subtotal;
                        <tr>
                            <td>
                                @if (item.StoreItem.ItemMaster.ItemImages.FirstOrDefault() != null)
                                {
                                    var image = item.StoreItem.ItemMaster.ItemImages.FirstOrDefault();
                                    <img src="@image.ImageUrl" class="img-thumbnail" width="50" />
                                }
                                else
                                {
                                    <img src="~/img/placeholders/placeholder-product.png" class="img-thumbnail" width="50" />
                                }

                                <b> @item.StoreItem.ItemMaster.Name </b>
                                <span class="text-muted">  @item.Remarks1 </span>
                            </td>
                            <td> @item.ItemQty </td>
                            <td> Php @item.StoreItem.UnitPrice.ToString("0.00") </td>
                            <td class="text-success"> <b> Php @subtotal.ToString("0.00")</b> </td>
                            <td width="20"> <div class="cart-summary-remove-item" onclick="RemoveItem(this, '@item.StoreItemId', '@subtotal')"> &#10006 </div></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row panel-footer" style="margin:0px;">
            <div class="col-lg-10">
                <h4> Amount: <b class="text-success"> Php @subtotalAmount.ToString("0.00") </b> </h4>
            </div>
            <div class="col-lg-2">
                <a href="@Url.Action("SubmitOrder", new { id = cart.Id })" class="btn btn-primary" style="width:100%;">
                    Checkout
                </a>
            </div>
        </div>
    </div>
    totalAmount += subtotalAmount;
}


<div class="panel bordered" style="margin:0px;">
    <div class="panel-body">
        <div class="col-lg-10">
            <h3> Total Amount: <b class="text-success"> Php @totalAmount.ToString("0.00")</b> </h3>
        </div>
        <div class="col-lg-2" style="margin:10px 0px;">
            <a href="@Url.Action("SubmitOrder")" class="btn btn-primary" style="width:100%;">
                Checkout All
            </a>
        </div>
    </div>
</div>

<br />


@Html.Partial("_ModalPickupEdit");


<script src="~/Scripts/Cart/cart.js"></script>
<script>
    function RemoveItem(e, Id, subtotal) {
        var data = {
            id: Id
        }

        $.post('/Shopper/CartDetails/RemoveCartItem', data, (response) => {
            console.log(response);
            UpdatePrice(subtotal);
        });

        $(e).parent().parent().remove();
    }


    function UpdatePrice(removedsubtotal) {
        var totalPrice = parseFloat($('#Total-Price').text());
        totalPrice -= removedsubtotal;
        $('#Total-Price').text(totalPrice.toLocaleString('en-US', { minimumFractionDigits: 2 }));
    }
</script>