@model IEnumerable<eCart.Models.CartDetail>
@{
    ViewBag.Title = "Cart Checkout";
    Layout = "~/Areas/Shopper/Views/Shared/_Layout.cshtml";
}

<h2>Cart Page</h2>

<div>
    <p>
        @Html.ActionLink("Go to Main Page", "Index", "Home", new { area = "" }, null) |
        <a href="@Url.Action("PendingCarts", "CartDetails", new { area ="Shopper" })"> Pending Carts </a>
    </p>
</div>

<div class="panel bordered">
    <div class="panel-body">
        <h3> Shopper Details </h3>
        <p> Name: <b>Guest User</b> </p>
        <p> Address: <b> Davao City </b> </p>
        <p> Contact No.:  </p>
    </div>
</div>

@{ decimal totalAmount = 0; }
@foreach (var cart in Model)
{
    decimal subtotalAmount = 0;
    <div class="panel bordered">
        <div class="panel-body">
            <div class="cart-summary-store ">
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <h3> @cart.StoreDetail.Name </h3>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <span> Pickup Point: </span>
                    <a href="" data-toggle="modal" data-target="#pickupModal" onclick="getPickupPoints('@cart.Id','@cart.StoreDetail.Id')" id="pickupAddress-@cart.Id" value="@cart.StorePickupPoint.Id">
                        @cart.StorePickupPoint.Address
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <span> DateTime Pickup: </span>
                    <span class="hidden" id="cartID"> @cart.Id </span>
                    <input type="text" name="pickup-date" value="@cart.DtPickup"  class="date-link"  >
                </div>
                <div class="col-lg-3 col-md-5 col-sm-12">
                    <span> Payment: </span>
                    <a href="" id="paymentMode-@cart.Id" data-toggle="modal" data-target="#paymentModal" onclick="getPaymentReceivers(@cart.Id)">
                        Cash On Delivery
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td> <b>Item Description</b> </td>
                        <td> Qty </td>
                        <td> Price per Item</td>
                        <td> Total </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in cart.CartItems)
                    {
                        var qty = item.ItemQty;
                        var unitprice = item.StoreItem.UnitPrice;
                        var subtotal = qty * unitprice;
                        subtotalAmount += subtotal;
                        <tr>
                            <td>
                                @if (item.StoreItem.ItemMaster.ItemImages.FirstOrDefault() != null)
                                {
                                    var image = item.StoreItem.ItemMaster.ItemImages.FirstOrDefault();
                                    <img src="@image.ImageUrl" class="img-thumbnail" width="50" />
                                }
                                else
                                {
                                    <img src="~/img/placeholders/placeholder-product.png" class="img-thumbnail" width="50" />
                                }

                                <b> @item.StoreItem.ItemMaster.Name </b>
                                <span class="text-muted">  @item.Remarks1 </span>
                            </td>
                            <td> @item.ItemQty </td>
                            <td> Php @item.StoreItem.UnitPrice.ToString("0.00") </td>
                            <td class="text-success"> <b> Php @subtotal.ToString("0.00")</b> </td>
                            <td width="20">

                            <td>
                                <!-- Remove Order -->
                                @if (cart.CartStatusId == 1)
                                {
                                    <div class="cart-summary-remove-item" onclick="RemoveItem(this, '@item.StoreItemId', '@subtotal')"> &#10006 </div>
                                }
                                else
                                {

                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row panel-footer" style="margin:0px;">
            <div class="col-lg-10">
                <h4> Amount: <b class="text-success"> Php @subtotalAmount.ToString("0.00") </b> </h4>
            </div>
            <div class="col-lg-2">
                @if (cart.CartStatusId == 1)
                {
                    <button class="btn btn-primary" style="width:100%;" onclick="SubmitOrder(this, @cart.Id);" name="Checkout">
                        Checkout
                    </button>
                }
                else
                {
                    <button class="btn btn-default disabled" style="width:100%;">
                        Cart Submitted
                    </button>
                }
            </div>
        </div>
    </div>
    totalAmount += subtotalAmount;
}

<div class="panel bordered" style="margin:0px;">
    <div class="panel-body">
        <div class="col-lg-10">
            <h3> Total Amount: <b class="text-success"> Php @totalAmount.ToString("0.00")</b> </h3>
        </div>
        <div class="col-lg-2" style="margin:10px 0px;">
            @if (Model.Any(s => s.CartStatusId == 1))
            {
                <button class="btn btn-primary" style="width:100%;" onclick="SubmitAllOrder()" name="Checkout">
                    Checkout All
                </button>
            }
            else
            {
                <button class="btn btn-default disabled" style="width:100%;">
                    All Carts Submitted
                </button>
            }
        </div>
    </div>
</div>

<br />



@Html.Partial("_ModalPickupEdit")
@Html.Partial("_ModalCheckoutSuccess")
@Html.Partial("_ModalCartPayment", ViewBag.PaymentParties as IEnumerable<eCart.Models.PaymentReceiver>)

<script src="~/Scripts/Cart/cart.js"></script>
<script src="~/Areas/Shopper/Scripts/checkout.js"></script>

<script src="~/Scripts/DateRangePicker/moment.min.js"></script>
<script src="~/Scripts/DateRangePicker/daterangepicker.js"></script>
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
<script>
    $('input[name="pickup-date"]').daterangepicker({
        singleDatePicker: true,
        startDate: moment().add('hours', 4),
        showDropdowns: true,
        timePicker: true,
        timePicker24Hour: false,
        timePickerIncrement: 10,
        autoUpdateInput: true,
        locale: {
            format: 'MMM DD,YYYY h:mm A'
        },
    });

    $('input[name="pickup-date"]').on('change', () => {
        let paymentDate = $('input[name="pickup-date"]').val();
        let cartId = $('input[name="pickup-date"]').siblings('#cartID').text();
        let now = moment();


        let dateComparision = moment(paymentDate).diff(now, 'minutes');
        console.log(dateComparision);
        if (dateComparision > 120) {    //at least 120 minutes or 2 hours from now
            //update date on session
            let result = $.post('/Shopper/CartDetails/SetCartPickupDate', { cartId: cartId, date: paymentDate });
            console.log(result);
        } else {
            $('input[name="pickup-date"]').val(moment().add('hours', 4).format('MMM DD,YYYY h:mm A'));
            alert('Invalid Date, please input a valid date for the date and time pickup.');
        }

    });

    
</script>

