@model IEnumerable<eCart.Models.CartItem>
@{
    ViewBag.Title = "Cart";
}

<h2>Cart Page</h2>

<div>
    @Html.ActionLink("Go to Main Page", "Index", "Home", new { area = "" }, null)
</div>

<div class="container-panel">
    <h4> Shopper Details </h4>
    <p> Name: <b>Guest User</b> </p>
    <p> Address: <b> Davao City </b> </p>
    <p> Contact No.:  </p>
</div>

<div class="container-panel">
    <h4> Cart Items </h4>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <td> <b>Item Description</b> </td>
                    <td> Qty </td>
                    <td> Price per Item</td>
                    <td> Total </td>
                </tr>
            </thead>
            <tbody>
                @{  decimal totalPrice = 0; }
                <!-- Cart Items -->
                @foreach (var item in Model)
                {
                    var qty = item.ItemQty;
                    var unitprice = item.StoreItem.UnitPrice ;
                    var subtotal = qty * unitprice;
                    totalPrice += subtotal; 
                    <tr>
                        <td>
                            <img src="~/img/placeholders/placeholder-images-product-2.png" width="50" class="img-thumbnail bordered" />
                            <b> @item.StoreItem.ItemMaster.Name </b>
                            <span class="text-muted">  @item.Remarks1 </span>
                        </td>
                        <td> @item.ItemQty </td>
                        <td> @item.StoreItem.UnitPrice.ToString("0.00") </td>
                        <td> <b>Php @subtotal.ToString("0.00")</b> </td>
                        <td width="20"> <div class="cart-summary-remove-item" onclick="RemoveItem(this, '@item.StoreItemId', '@subtotal')"> &#10006 </div></td>
                    </tr>
                }


                <!-- Total -->
                <tr>
                    <td colspan="3">
                        <h4 class="pull-right">Total Price</h4>
                    </td>
                    <td>
                        <h4 class="text-success" > Php <span id="Total-Price"> @totalPrice.ToString("0.00") </span></h4>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container-panel" >
    <h4> Pickup Details </h4>
    <p> <b> Pickup Location and Time </b> </p>
</div>

<div>
    <div class="col-lg-offset-10">

        <button class="btn btn-primary" style="width:100%;">  Submit Order</button>
    </div>
</div>

<br />
<script src="~/Scripts/Cart/cart.js"> </script>
<script>


    function RemoveItem(e, Id, subtotal) {
        var data = {
            id: Id
        }

        $.post('/Shopper/CartDetails/RemoveCartItem', data, (response) => {
            console.log(response);
            UpdatePrice(subtotal)
        });

        $(e).parent().parent().remove();
    }


    function UpdatePrice(removedsubtotal) {
        var totalPrice = parseFloat($('#Total-Price').text());
        totalPrice -= removedsubtotal;
        $('#Total-Price').text(totalPrice.toLocaleString('en-US', { minimumFractionDigits: 2 }));
    }
</script>