@model IEnumerable<eCart.Models.CartDetail>

@{
    ViewBag.Title = "PendingCarts";
}

<h2>Pending Carts</h2>

<div class="panel bordered">
    <div class="panel-body">
        <h3> Shopper Details </h3>
        <p> Name: <b>Guest User</b> </p>
        <p> Address: <b> Davao City </b> </p>
        <p> Contact No.:  </p>
    </div>
</div>

@{ decimal totalAmount = 0; }
@foreach (var cart in Model)
{
    decimal subtotalAmount = 0;
    <div class="panel bordered">
        <div class="panel-body">
            <div class="cart-summary-store">
                <div>
                    <h3> @cart.StoreDetail.Name </h3>
                </div>
                <div class="cart-summary-pickup">
                    <span> Pickup Point: </span>
                    <a href="" data-toggle="modal" data-target="#pickupModal" onclick="getPickupPoints('@cart.Id','@cart.StoreDetail.Id')" id="pickupAddress-@cart.Id" value="@cart.StorePickupPoint.Id">
                        @cart.StorePickupPoint.Address
                    </a>
                </div>
                <div class="cart-summary-pickup">
                    <span> DateTime Pickup: </span>
                    <a href=""> @cart.DtPickup </a>
                </div>
                <div class="cart-summary-pickup">
                    <span> Payment: </span>
                    <a href="" id="paymentMode-@cart.StoreDetail.Id"> On Pickup </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td> <b>Item Description</b> </td>
                        <td> Qty </td>
                        <td> Price per Item</td>
                        <td> Total </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in cart.CartItems)
                    {
                        var qty = item.ItemQty;
                        var unitprice = item.StoreItem.UnitPrice;
                        var subtotal = qty * unitprice;
                        subtotalAmount += subtotal;
                        <tr>
                            <td>
                                @if (item.StoreItem.ItemMaster.ItemImages.FirstOrDefault() != null)
                                {
                                    var image = item.StoreItem.ItemMaster.ItemImages.FirstOrDefault();
                                    <img src="@image.ImageUrl" class="img-thumbnail" width="50" />
                                }
                                else
                                {
                                    <img src="~/img/placeholders/placeholder-product.png" class="img-thumbnail" width="50" />
                                }

                                <b> @item.StoreItem.ItemMaster.Name </b>
                                <span class="text-muted">  @item.Remarks1 </span>
                            </td>
                            <td> @item.ItemQty </td>
                            <td> Php @item.StoreItem.UnitPrice.ToString("0.00") </td>
                            <td class="text-success"> <b> Php @subtotal.ToString("0.00")</b> </td>
                            <td width="20">

                            <td>
                             
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row panel-footer" style="margin:0px;">
            <div class="col-lg-8">
                <h4> Amount: <b class="text-success"> Php @subtotalAmount.ToString("0.00") </b> </h4>
            </div>
            <div class="col-lg-2">

                <h4 style="width:100%;">
                    Status:  @cart.CartStatu.Name
                </h4>

            </div>
            <div class="col-lg-2">

                <button class="btn btn-warning" style="width:100%;">
                    Cancel Order
                </button>

            </div>
        </div>
    </div>
    totalAmount += subtotalAmount;
}
